@using Microsoft.AspNet.Identity;
@model List<MVC_Test.Models.Product>
    @{ 
        ViewBag.Title = "購物首頁";
        var UserID = User.Identity.GetUserId();
        var UserName = User.Identity.GetUserName();
    }

<style>
    .ProductImg{
        height:300px;
    }
</style>

<div class="jumbotron">
    <h2>蝦匹購物網站 - 甚麼都沒有，甚麼都沒賣。</h2>
    <h6><span></span>@Html.ActionLink("關於網站", "About", new { }, new {@class = "btn btn-primary btn-lg"})</h6>
</div>

<div class="row">
    @foreach (var product in this.Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="ProductImg"src="@product.DefaultImageURL"alt="商品圖片"/>
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p>@product.Description</p>
                    <p>售價：@product.Price</p>
                    <p>庫存：@product.Quantity</p>
                    <p>
                        <a onclick="AddToCart('@product.Id')" href="javascript:void(0);"
                           class="btn btn-primary" role="button">
                            加入購物車
                        </a>
                        @*此行為單純顯示前寫法，並無任何指向動作*@
                        @*<a href="javascript:void(0);" class="btn btn-default" role="button">詳細資訊*@
                        <a href="@Url.Action("Details", new { id = product.Id })" class="btn btn-default" role="button">
                            詳細資訊
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>



@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@