@model IEnumerable<MVC_Test.Models.Order>

<h2>訂單列表</h2>
<table class="table">
    <tr>
        <th>購買會員</th>
        <th>收貨人姓名</th>
        <th>收貨人電話</th>
        <th>收貨人住址</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GetUserName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverAddress)
            </td>
            <td>
                @Html.ActionLink("商品明細", "MyOrderDetail", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>

